
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd


data/raw/train/
data/raw/valid/
data/raw/test/


!data/raw/data.yaml


src/training/runs/
runs/
.pytest_cache/


results/weights/*.pt
results/weights/*.pth


.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
# Глобально игнорируем любые тяжелые веса в любых папках проекта
*.pt
*.pth